.input-style {
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #666;
    background-color: #fff;
    width: 100%;
    outline: none;
}

.button-style {
    background-color: #eee;
    color: #111;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button-style:hover {
    background-color: #0a4194;
    color: #fff;
    transform: translateY(-1px);
}

.button-style:focus {
    outline: none;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn .8s ease-in-out;
}
